Welcome to my anonymous FTP server!
Practice task {{ practice_task }}
Server name: {{ ansible_facts.fqdn }}
Server OS: {{ ansible_facts.distribution }} {{ ansible_facts.distribution_version }}
{{ ansible_managed }}
